/*font-family: 'Fira Mono', monospace;*/
/*font-family: 'Raleway', sans-serif;*/

/*Specification*/

body{
	margin: 0;
	padding: 0;
	background-color: #191716;
	color: #fff;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
}

h1{
	font-size: 5.625em;
	font-weight: 700;
	margin: 0;
}

.title{
	box-sizing: border-box;
	margin-top: 7.8125vw;

}

/*Header*/
header{
	padding-left: 7.8125vw;
	/*padding-top: 7.8125vw;*/
}

.contacts{
	display: flex;
}

